extends layout
block content
    // Main jumbotron for a primary marketing message or call to action
    .jumbotron
        .container
            h1 Welcome to LinkIt
            h2 Add your Link
            form(role='form', name='addlink', autocomplete='off')
                .form-group
                    label(for='url') URL
                    input(type='url', placeholder='http://www.domain.com', name='url', required).form-control#url
                .form-group
                    label(for='title') Title
                    input(type='text', placeholder='My Cool Page', name='title', required).form-control#title
                .form-group
                    label(for='description') Description
                    input(type='text', placeholder='Description', name='description').form-control#description
                button(type='button').btn.btn-primary.btn-lg#newlinksubmit Post New Link
    .container
        ul.media-list#linklist